<%= form_with model: [@location, @note], class: "contents" do |form| %>
  <%= render "layouts/error_messages", errors: note.errors %>
  
  <div class="my-5">
    <%= form.text_area :content, class: "text-field", autofocus: true %>
  </div>
  <div class="inline">
    <%= form.submit class: "btn-primary" %>
  </div>
<% end %>
