<div id="new_note">
  <div class="pt-4 pb-2">
    <%= link_to sanitize("&larr; Back"), location_path(@location) %>
  </div>
  <h1>New note</h1>
  <%= render "locations/notes/form", note: @note %>
</div>
