<div class="flex justify-center w-full">
  <div class="flex-col">
    <h1>Welcome</h1>
    <p>
      <%= link_to "View locations", locations_path, class: "m-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
      <%= link_to "Search plants", plants_path, class: "m-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    </p>
  </div>
</div>
