<div class="container">
  <h1>GardenHQ</h1>
  <p>Handle your yard situation</p>

  <% if user_signed_in? %>
    <%= link_to "View locations", quotes_path, class: "btn btn--dark" %>
  <% else %>
    <%= link_to "Sign in", new_user_session_path, class: "btn btn--dark" %>
  <% end %>
</div>
