<div class="container text-center">
  <h1 class="px-6 pt-12 pb-4 sm:text-5xl">Welcome</h1>
  <% if user_signed_in? %>
    <%= link_to "Get started", locations_path, class: "btn-secondary mt-4" %>
  <% else %>
    <%= link_to new_user_registration_path do %>
      <button class="btn-primary mt-4">Sign up</button>
    <% end %>
    <%= link_to new_user_session_path do %>
      <button class="btn-secondary mt-4">Sign in</button>
    <% end %>
  <% end %>
</div>
