<% content_for :title, "Locations" %>
<div id="locations">
  <div class="flex justify-between items-center">
    <h1>Locations</h1>
    <%= link_to "New location", new_location_path, class: "btn-primary" %>
  </div>
  <div id="location_list" class="min-w-full">
    <% @locations.each do |location| %>
      <%= render location %>
      <p>
        <%= link_to "Show this location", location, class: "btn-secondary" %>
      </p>
    <% end %>
  </div>
</div>
