<% content_for :title, "Locations" %>
<div class="w-full">
  <% if notice.present? %>
    <div class="flex justify-center">
      <p class="notice" id="notice"><%= notice %></p>
    </div>
  <% end %>
  <div class="flex justify-between items-center py-4">
    <h1>Locations</h1>
    <%= link_to "New location", new_location_path, class: "btn-primary" %>
  </div>
  <div id="locations" class="min-w-full">
    <% @locations.each do |location| %>
      <%= render location %>
      <p>
        <%= link_to "Show this location", location, class: "btn-secondary" %>
      </p>
    <% end %>
  </div>
</div>
