<div id="new_location">
  <div class="py-2">
    <%= link_to sanitize("&larr; Back"), locations_path %>
  </div>
  <div class="mt-6">
    <h1>New location</h1>
    <%= render "form", location: @location %>
  </div>
</div>
