<div class="w-full">
  <div class="font-medium mb-6">
    <%= link_to sanitize("&larr; Browse locations"), locations_path %>
  </div>
  <% if notice.present? %>
    <p class="notice -mt-6" id="notice"><%= notice %></p>
  <% end %>
  <div class="mt-6">
    <h1>New location</h1>
    <%= render "form", location: @location %>
  </div>
</div>
