<div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
  <% if notice.present? %>
  <div class="flex justify-center">
    <p class="notice" id="notice"><%= notice %></p>
  </div>
  <% end %>
  <div class="mx-auto max-w-3xl">
    <%= yield %>
  </div>
</div>
